@font-face {
    font-family: 'SFProDisplay-Bold';
    src: url('../fonts/SFProDisplay-Bold.ttf');
}

@font-face {
    font-family: 'SFProDisplay-Regular';
    src: url('../fonts/SFProDisplay-Regular.ttf');
}


h1,
h2 {
    font-family: SFProDisplay-Bold;
}

p,
button,
select,
textarea,
input {
    font-family: SFProDisplay-Regular;
}